h1{
    color: blue;
    text-align: center;
    background-color: crimson;
    border:solid 30px darkgreen;
    border-radius: 50px;
    align-items: center;
}
.lorem{
    color: darkgrey;
    background-color: blue;
}
.koi{
    color: brown;
    background-color: coral;
    border: solid 10px yellow;
    border-radius: 2px;
}